<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>

    <appender name="Stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%c{1}::%M]: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- By default, make the logging keep quiet -->
    <root level="DEBUG">
        <appender-ref ref="Stdout"/>
    </root>

    <!-- Lower the logging level for relevant classes -->
    <logger name="se.jguru" level="WARN"/>
    <logger name="se.jguru.shared" level="DEBUG"/>

    <!-- Make the frameworks shut up. -->
    <logger name="se.jguru.nazgul" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.eclipselink" level="WARN"/>
    <logger name="org.dbunit" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>

</configuration>
